[submodule "LMCAS"]
	path = LMCAS
	url = https://github.com/Lamina-dev/LMCAS.git
[submodule "LAMMP"]
	path = LAMMP
	url = https://github.com/Lamina-dev/LAMMP.git
[submodule "LMMC"]
	path = LMMC
	url = https://github.com/Lamina-dev/LMMC.git
